.contact{
    border-radius: 4px;
    background-color: transparent;
    padding: 5px;
    color: white;
    width: 80px;
    border: 1px solid white;
}
.sofa{
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    color:#391400 ;
    border:1px solid #391400;
}
.lead{
    color:#391400 ;
    padding: 10px;
    width: 170px;
   font-weight: bolder;
}