.div{
    height: 1200px;
    gap: 50px;
}
.div1{
    height: 200px;
    width: 1200px;
   background-color: aliceblue;
    display: flex;
    gap: 10%;
}

.div1-box1{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div1-box2{
    width: 60%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div1-box3{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div2{
    height: 200px;
    width: 1200px;
   background-color: aliceblue;
    display: flex;
    gap: 10%;
}
.div2-box1{
    width: 50%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}

.div2-box2{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div2-box3{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div3{
    height: 200px;
    width: 1200px;
   background-color: aliceblue;
    display: flex;
    gap: 10%;
}
.div3-box1{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div3-box2{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div3-box3{
    width: 50%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div4{
    height: 200px;
    width: 1200px;
   background-color: aliceblue;
    display: flex;
    gap: 10%;
}
.div4-box1{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div4-box2{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div4-box3{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div4-box4{
    width: 10%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}
.div4-box5{
    width: 20%;
    height: 150px;
    border: 1px solid black;
    background-color: green;
}