*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.headDiv {
    background: url("./image/new-harry-potter.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
    height: 20rem;
}
ul{
    color: rgb(245, 6, 6);
}
.head{
    background-color: rgb(20, 112, 14);
}
h3,h2{
    color: yellow;
}
p{
    color: blue;
}
h6{
    color: brown;
}
h4{
    color: aqua;
}