button {
  padding: 10px 36px;
  border-radius: 37px;
}
.get {
  background-color: #784f33;
  color: white;
  border: none;
}
.learn {
  background-color: transparent;
  color: #784f33;
  border: 2px solid #784f33;
}
